<!-- preview.html -->
<div attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css"
     event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false"
>
    <render args="getOptions().template" />
    <div class="upload-content">
        <div attr="data.skus.attributes"
             data-bind="liveEdit: { field: 'skus', placeholder: $t('skus') }">
        </div>
    </div>
</div>
